

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Consulta de Documentos Electrónicos</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Volver</a>
            </li>
        </ul>
    </div>
</nav>
<img src="assets/logo-blanco.png" class="rounded mx-auto d-block mt-4" width="200" alt="...">
<div class="container col-sm-4 col-sm-offset-4 mt-4">
  <form>
    <div class="form-group text-white ">
      <label for="exampleInputEmail1">Serie de producto</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="serie completa">
      <small id="emailHelp" class="form-text text-muted">ejemplo: A8BC45D56E</small>
    </div>
    <div class="form-group text-white">
      <label for="exampleInputPassword1">RUC</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="RUC">
    </div>
    
    <button type="submit" class="btn btn-primary">BUSCAR</button>
  </form>

</div>

